﻿@model IEnumerable<WatchMe.DAL.UserRole>

@{
    ViewBag.Title = "Index";
}

<h2>Role Add to User</h2>

@using (Html.BeginForm("RoleAddToUser", "UserRoles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        @Html.DisplayName("Username: ");
        @ViewBag.Email

    </p>

    <p>
    Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")
    </p>

    <input type="submit" value="Save" />
}