﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>

    <div class="navbar">
        <div id="banner">
            <img id="img_logo" alt="Logo" src="@Url.Content("~/Content/Images/BinoclrBanner.png")" />
        </div>
        <div id="nav_bar">
        <div class="container navbar-inverse" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Binoclr", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated || User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Broadcast", "Broadcast", "Broadcast")</li>
                        <li>@Html.ActionLink("Search", "Index", "Search")</li>
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Manage", "Index", "ManageUsers")</li>
                        <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
                    }
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                
            </div>
        </div>
          </div>
        </div>
    <div class="container body-content">
        @RenderBody()
        
        <hr />
        <div>
        @Html.Partial("_NotificationPartial")
        </div>













        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>

        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/navbar")
    @RenderSection("scripts", required: false)
</body>
</html>
