﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right" id="BottomNav" >
        
        @Html.Partial("_OnlineFollowingPartial")

        <li class="dropup" >

                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    @*Notification*@ 
                    @*<span class="caret"></span>*@
                    <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>

                </button>
                <ul class="dropdown-menu" id="notificationTab">
                    <li><a href="#" id="noNoti">No Notification</a></li>                
                </ul>
            
        </li>


</ul>

}
else
{

}

<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script>

   $(function() {
      // Save the reference to the SignalR hub
      var notification = $.connection.notificationHub;

      // Invoke the function to be called back from the server
      // when changes are detected
      notification.client.addNewNotificationToPage = function (notification, id) {
          // Add the message to the page.
          
          console.log(notification);
          $('#notificationTab').prepend('<li><a>' + notification
              + '</a></li>');

          //onClickHandler lead to profile of id
      };

      notification.client.LoadNotificationsToPage = function (notifications)
      {
          for (i = 0; i < notifications.length; i++)
          {
              $('#notificationTab').prepend('<li><strong>' + notifications[i]
              + '</strong> </li>');
          }
      }

      // Start the SignalR client-side listener
      $.connection.hub.start().done(function () {
          // Do here any initialization work you may need
          console.log("Connected");
          var id = "@User.Identity.GetUserId()";
          console.log("Id: " + id);

          notification.server.fetchNotification(id);
         
      });

      $.connection.hub.start().fail(function (error) {
          // Do here any initialization work you may need
          console.log("Connection fail"+ error);

      });

      $.connection.hub.disconnected(function () {
          setTimeout(function () {
              $.connection.hub.start();
          }, 5000); // Re-start connection after 5 seconds
      });
   });
</script>

