﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    <div id="watchBroadcastBackground">
    </div>
        <div id="watchBroadcast">
            <img id="closeButton" src="~/Content/Images/close_icon.png" />"/>
            <video id="RemoteVideo" autoplay></video>
        </div>
    
        <li class="dropup">

            <button id="onlinebtn" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Online
                @*<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>*@
            </button>
            <ul class="dropdown-menu" id="onlineTab">
                <li><a href="#" id="noOnline">No Online</a></li>
            </ul>

        </li>

        }
        else
        {

        }

        <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script>
            $(function () {
                document.getElementById('watchBroadcastBackground').style.visibility = "hidden";
                document.getElementById('watchBroadcast').style.visibility = "hidden";

                var broadcastHub = $.connection.broadcastHub;
                var iceServers = [{ url: 'stun:74.125.142.127:19302' }];
                var RTCPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
                var connection = new RTCPeerConnection({ iceServers: iceServers });;
                var id = "@User.Identity.GetUserId()";
                var broadcaster = false;;
                var isConnected = false;;
                var accepted = false;
                function error(e) {
                    console.log("Error: " + e);
                }

                function getMedia() {
                    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
                    navigator.getUserMedia({ video: true, audio: true }, function (stream) {
                        //Add stream and set up local video
                        connection.addStream(stream);

                        setLocalVideo(stream);
                        initiate();
                    }, error);
                }

                function setLocalVideo(stream) {
                    //var localVideo = $("#localVideo");
                    //var video = document.querySelector('video');
                    var video = document.getElementById('localVideo');
                    video.src = window.URL.createObjectURL(stream);

                }

                function sendOffer(offer) {
                    //broadcastHub.server.send(JSON.stringify(offer));
                    console.log("Sending offer to hub");
                    broadcastHub.server.sendBroadcastToFollower(id, JSON.stringify(offer));
                }

                function sendAccept(broadcasterId, accept) {
                    //broadcastHub.server.send(JSON.stringify(offer));
                    //var id = "@User.Identity.GetUserId()";
                    console.log("send Accept");
                    broadcastHub.server.sendAcceptToBroadcaster(broadcasterId, id, JSON.stringify(accept));
                    isConnected = true;
                }

                function initiate() {
                    //Create and send offer
                    connection.createOffer(function (offer) {
                        console.log(offer);
                        connection.setLocalDescription(new RTCSessionDescription(offer), sendOffer(offer), error);
                    }, error);
                }

                function answer(broadcasterId, offer) {

                    connection.setRemoteDescription(new RTCSessionDescription(offer), function () {
                        connection.createAnswer(function (answer) {
                            connection.setLocalDescription(new RTCSessionDescription(answer), function () {
                                sendAccept(broadcasterId, answer)
                            }, error);
                        }, error);
                    },error);
                }


                var broadcasterId;

                broadcastHub.client.receive = function (receivedId, message, context) {
                    var obj = JSON.parse(context);
                    if (obj.sdp && obj.type === "offer") {
                        console.log(receivedId + " is broadcasting");
                        $('#onlineTab').prepend('<li>' + '<a target="_blank" id=' + receivedId + ' class="broadcastLink">' + message + '</a>' + '</li>');
                        var none = document.getElementById("noOnline");
                        none.style.visibility = "hidden";
                        broadcasterId = receivedId;
                        //$('#onlineTab').prepend('<li >' + '<a data-id=' + receivedId + ' class="broadcastLink" href="@Url.Action("WatchBroadcast","Broadcast")?connection=' + context + '">' + receivedId + '</a>' + '</li>');
                        var link = document.getElementById(receivedId);
                        link.onclick = function () {
                            document.getElementById('watchBroadcastBackground').style.visibility = "visible";
                            document.getElementById('watchBroadcast').style.visibility = "visible";

                            console.log("answer");
                            answer(receivedId, obj);


                        }
                    }
                    else if (obj.sdp && obj.type === "answer") {
                        console.log("Answer: " + context);
                        accepted = true;
                        connection.setRemoteDescription(new RTCSessionDescription(obj), function () { }, error);
                    }
                    else if (obj.candidate) {
                        console.log("reply: " + obj);
                        connection.addIceCandidate(new RTCIceCandidate(obj));
                    }
                }

                connection.onicecandidate = function (e) {
                    if (e.candidate == null) { return }
                    //broadcastHub.server.send(JSON.stringify(e));
                    if (broadcaster && accepted) {
                        console.log("send ice to follower")
                        broadcastHub.server.sendIceToFollower(id, JSON.stringify(e.candidate));
                    }
                    else {
                        if (isConnected)
                            console.log("send ice to broadcaster")
                            broadcastHub.server.sendIceToBroadcaster(broadcasterId, JSON.stringify(e.candidate));
                    }
                }



                $.connection.hub.start().done(function () {
                    startConnection();
                });

                function startConnection() {
                    $.connection.hub.start().done(function () {
                        console.log("Connected Broadcast");
                        var id = "@User.Identity.GetUserId()";
                        //broadcastHub.server.getLiveBroadcast(id)
                        $("#startButton").attr("disabled", false);
                    });
                }

                $("#startButton").click(function () {
                    console.log("Start clicked");
                    getMedia();
                    broadcaster = true;
                    $("#startButton").attr("disabled", true);
                    $("#endButton").attr("disabled", false);

                })

                $("#endButton").click(function () {

                    $("#endButton").attr("disabled", true);
                    var video = document.getElementById("localVideo");
                    video.src = null;
                    video.pause();
                    $.connection.hub.stop();
                });

                $.connection.hub.start().fail(function (error) {
                    // Do here any initialization work you may need
                    console.log("Connection fail" + error);

                });

                $.connection.hub.disconnected(function () {
                    $("#startButton").attr("disabled", true);
                    setTimeout(function () {
                        startConnection();
                    }, 5000); // Re-start connection after 5 seconds


                });

                connection.onaddstream = function (obj) {
                    //console.log("Ice connection State"+ obj.srcElement.iceConnectionState);
                    //console.log("Ice cGathering State" + obj.srcElement.iceGatheringState);
                    //if (obj.srcElement.iceConnectionState === 'connected' && obj.srcElement.iceGatheringState === 'complete') {
                    //    console.log("ice Gather Complete ");

                    var vid = document.getElementById("RemoteVideo");
                    vid.src = window.URL.createObjectURL(obj.stream);
                    console.log(obj.stream);
                    vid.load();
                    vid.play();
                    //}

                }




            });

        </script>
