﻿body {
    padding-bottom: 20px;
    	top: 0;
	position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#img_logo {
    width: 1120px;
    height: 270px;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left:auto;
  margin-right:auto;
    text-align: center;
    background-color:#222222;
}

#banner {
    text-align:center;
	width: 100%;
	height: 270px;
	overflow: hidden;
}

.navbar {
        background-color:#222222;

}

.panel{
    overflow: hidden; 
    overflow-x: auto;
    overflow-y: auto;
    
}

#BottomNav 
{
    position: fixed;
    bottom: 0;
    right:0px;

    padding-right:10px;
}

.dropup {
padding-right:10px;
}

#onlinebtn {
padding-right:60px;
padding-left:60px;
}

#onlineTab {
left:0px;
margin-right:-40px;
}

#notificationTab {
    left: -173px;
    right: 10px;
    
}

#RemoteVideo {
    height:500px;
    width: 600px;
    opacity: 1;
}

#closeButton {
    height:30px;
    width:30px;
    position:absolute;
    top: 45px;
    right: 0;
    opacity: 1;
}

#watchBroadcast {
    height:500px;
    width: 600px;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -115px; 
    margin-left: -240px; 
    opacity: 1;
}

#watchBroadcastBackground {
    top:0;
    left:0;
    height:100%;
    width: 100%;
    position:fixed;
    background: black;
    opacity: 0.6;
}