﻿@model IEnumerable<WatchMe.DAL.User>


@{
    ViewBag.Title = "Index";
}

<h2>Search</h2>


@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString", null, new { id = "SearchString" })
        <input type="submit" value="Search" />
    </p>

}

<div class="panel panel-default scrollable">
    <table id="SearchResults" class="table table-striped table-bordered table-responsive table-condensed table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>

                
                <td>
                    @{var found = 0;}
                    @if (item.Followers.Count != 0)
                    {                        
                        foreach (var f in item.Followers)
                        {
                            if (f.User1.UserName == User.Identity.Name)
                            {
                                found = 1;
                            }
                        }


                    }

                    @if (item.Notifications1.Count != 0)
                    {
                        foreach (var n in item.Notifications1)
                        {
                            if (n.User.UserName == User.Identity.Name && n.Type == 2)
                            {
                                found = 2;
                            }

                        }
                    }


                    @if (found == 0)
                    {
                    <input type="button" title="Follow" value="Follow" onclick="location.href='@Url.Action("Follow", "Search", new { id = item.Id })'" />
                    }
                    else if (found == 1)
                    {
                    <input type="button" title="UnFollow" value="UnFollow" onclick="location.href='@Url.Action("Unfollow", "Search", new { id = item.Id })'" />
                    }
                    else if (found == 2)
                    {
                    <input type="button" title="FollowRequestSent" value="FollowRequestSent" disabled/>
                    }
                    
                </td>
                
            </tr>

        }

    </table>
</div>